<form #form="ngForm" (submit)="onSubmit(form)">
    <div class="mb-3">
        <label>Nome</label>
        <input class="form-control form-control-lg" name="nome" 
        #nome="ngModel" [(ngModel)]="service.formData.nome">
    </div>
    <div class="mb-3">
        <label>Nome do Herói</label>
        <input class="form-control form-control-lg" name="nomeHeroi"  
        #nomeHeroi="ngModel" [(ngModel)]="service.formData.nomeHeroi">
    </div>
    <div class="mb-3">
        <label>Data Nascimento</label>
        <input type="date" class="form-control form-control-lg" name="dataNascimento"
        #dataNascimento="ngModel" [(ngModel)]="service.formData.dataNascimento">
    </div>
    <div class="mb-3">
        <label>Altura</label>
        <input class="form-control form-control-lg" placeholder="Altura" name="altura"
        #altura="ngModel" [(ngModel)]="service.formData.altura">
    </div>
    <div class="mb-3">
        <label>Peso</label>
        <input class="form-control form-control-lg" placeholder="dd/mm/yyyy" name="peso"
        #peso="ngModel" [(ngModel)]="service.formData.peso">
    </div>
    <div class="d-grid">
        <button class="btn btn-lg btn-success" type="submit">Cadastrar</button>
    </div>
</form>